
.talk_con{
  width:600px;
  height:500px;
  border:1px dashed #666;
  margin:50px auto 0;
  background:#f9f9f9;
}
.talk_show{
    width:580px;
    height:420px;
    border:1px dashed #666;
    background:pink;
    margin:10px auto 0;
    overflow:auto;
}
.talk_input{
    width:580px;
    margin:10px auto 0;
}
.whotalk{
    width:80px;
    height:30px;
    float:left;
    outline:none;
}

.atalk{
    margin:10px;
}
.ataSpan{
    width: 70%;
    display:inline-block;
    color:#fff;
    word-wrap: break-word;
}
.ataSpanText{
    border-radius:8px;
    padding:5px 10px;
    background:#0181cc;
    display:inline-block;
}
.ataImg{
    float: left;
    margin-right: 5px;
    margin-top: 20px;
}
.ataName{
    width: 70%;
    word-wrap: break-word;
    display:inline-block;
    border-radius:8px;
    color:black;
    padding:5px 10px;
}
.ataSpanText{
    background:#0181cc;
    padding:5px 10px;
    border-radius:8px;
}

.btalk{
    margin:10px;
    text-align:right;
}
.btaSpan{
    width: 70%;
    word-wrap: break-word;
    display:inline-block;
    color:#fff;
}
.btaSpanText{
    background:#ef8201;
    padding:5px 10px;
    border-radius:8px;
    display:inline-block;
}
.btaName{
    width: 70%;
    margin-right: 8%;
    word-wrap: break-word;
    display:inline-block;
    border-radius:8px;
    color:black;
    padding:5px 10px;
}

.btaImg{
    float: right;
    margin-left: 5px;
    /*margin-top: 20px;*/
}
.inpH5{
    margin-top: 10px;
}